aiohttp
Pillow
psutil
hachoir
tgcrypto
pyrogram==1.4
motor
https://github.com/Tinche/aiofiles/archive/master.zip
dnspython

zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
